<header class="header">
  <h1 class="header__title">Casa nova Gigi & Naldin</h1>
  <p class="header__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, cum veniam. Iure
    accusantium expedita doloribus magnam, neque laudantium excepturi ad nobis qui fugit. Modi saepe, ducimus totam quod
    neque vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quia, corporis quibusdam nemo nostrum
    tempore aut minima corrupti dolores eum error veniam recusandae voluptates voluptatibus, tempora quidem obcaecati
    nam ut.</p>
</header>
