<header class="header">
  <h1 class="header__title">Casa nova Gigi & Naldin</h1>
  <p class="header__text">oi, amigos! :) como muitos já sabem, chegou a hora em que decidimos ter nosso cantinho e nada
    mais justo que ele tenha a nossa cara. a vontade era de fazer um encontro pra celebrar essa nova fase com drinks e
    comidinhas, mas, por falta de vacina, isso não vai ser possível (pelo menos por enquanto), daí que abrimos esse
    espaço caso queiram/possam nos presentear e ajudar na construção da nossa casinha. estamos com saudade e ansiosos
    pra te receber assim que possível! <3 </p>
</header>
