@import "src/assets/styles/variables.scss";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5em 0;
    padding: 0 3em;

    &__title {
        font-family: $title;
        font-size: 5em;
        text-align: center;
    }

    &__text {
        font-family: $text;
        font-size: 2.5em;
        text-align: center;
    }
}
