<section class="popup" *ngIf="isVisible">
  <div class="popup__container">
    <h3 class="title">Muito obrigado(a)</h3>
    <p class="text">Somos muito sortudos por termos tanta gente massa como você a nossa volta. Não vemos a hora de
      poder te receber na nossa nova casinha e retribuir todo esse carinho <3 </p>
        <div class="info">
          <div class="pix">
            <h4 class="pix__title">Chave da Giselle:</h4>
            <p class="pix__key">gisellefonsc@gmail.com</p>
          </div>
          <div class="pix">
            <h4 class="pix__title">Chave do Ronaldo:</h4>
            <p class="pix__key">ronaldoarg.pix.picpay@gmail.com</p>
          </div>
        </div>
        <img src="assets/images/qrcodes/{{qrcode}}.jpeg" alt="QR Code para Pix" class="image">
        <span class="close" (click)="update.emit(false)"></span>
  </div>
</section>
