@import "src/assets/styles/variables.scss";

$width: 300px;
$background: #9a9a9a;

.product {
    width: $width;
    background: $background;
    padding: 5%;
    box-sizing: border-box;
    margin: 0 0 2em 0;

    &__image {
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin: 0.5em 0 0 0;
        min-height: 95px;
    }

    &__title {
        font-family: $title;
        font-size: 2em;
        margin-bottom: 0;

        &--big {
            font-size: 2.5em;
        }
    }

    &__subtitle {
        font-family: $text;
        font-size: 1.5em;
        margin-top: 0;

        &--right {
            text-align: right;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 65%;
    }

    &__fee {
        width: 35%;
        margin: -0.85em 1em 0 0;
        text-align: right;
        
        .current {
            font-weight: bold;
        }
    }

    &__text {
        font-family: $text;
        font-size: 1.5em;
        margin: 0.5em;
        display: flex;
        justify-content: center;
    }
}

.button {
    width: 49.5%;
    height: 45px;
    text-align: center;
    border: none;
    font-family: $text;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &--disabled {

    }
}
