// Fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans+Condensed:wght@300&display=swap');

body {
    margin: 0;
    background: #e4e4e4;
}

html {
    font-size: 10px;
}
